@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-size: 1rem;
  height: 100%;
  margin: 0;
}

@layer components {
  .infoText {
    @apply text-sm p-4 bg-gray-50 dark:bg-white/5 rounded-md max-w-[400px] md:max-w-[250px]
  }

  .exampleText {
    @apply hover:bg-gray-200 dark:hover:bg-gray-900
  }

  .sidebarRow {
    @apply rounded-lg px-5 py-3 text-sm flex items-center
    space-x-2 hover:bg-gray-700/70 cursor-pointer text-gray-300 transition-all duration-200 ease-out
  }

  .login, .home {
    @apply bg-[#343541] h-screen flex flex-col items-center justify-center text-center text-white gap-6 text-base
  }
}

@media (min-width:768px) {
  .chat-container {
    display: grid;
    grid-template-columns: 260px 1fr;
  }

  .chat-content {
    display: grid;
    grid-template-rows: calc(100vh - 7vh) 7vh;
  }
}

@media (max-width:768px) {
  .chat-container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 20px;
  height: 20px;
  left: 36px;
  top: 36px;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 36px !important;
  width: 36px !important;
  right: -50px !important;
  border: 2px solid white;
  padding: 4px !important;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  background: rgba(32, 33, 35, 1);;
  padding: 0.5rem;
  font-size: 1rem;
  overflow: hidden !important;
}

/* Wrapper for item list */
.bm-item-list {
  background: #202123;
  color: #b8b7ad;
  display: grid;
  grid-template-rows: 77vh 23vh;
}

/* Individual item */
.bm-item {
  display: flex !important;
}

/* Styling of overlay */
.bm-overlay {
  background-color: rgba(86, 88, 105, 0.75) !important;
}

.top-section {
  display: grid;
  grid-template-rows: 100px 1fr;
  overflow-y: hidden;
}

.top-section, .second-section {
  display: flex;
  flex-direction: column;
}

.top-nav {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  padding: 0.75rem;
  align-items: center;
  background-color: rgba(52, 53, 65, 1)
}
